			body{
				text-align: center;
				-webkit-user-select: none;
				color: red;
				background-color: blueviolet;
			}
			/*input[type=button]{
				width: 90px;
			}
			ul{display: none}*/
			/*#d1{
				font-family: "微软雅黑";
				background-image: url(img/HBuilder.png)
			}*/